body{
	background-image: url('../images/Elegant_Background-7.jpg');
	background-size: 100%;
}

.mainbox {
	width:500px; 
	height:500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-250px 0 0 -250px;
}